<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!--
     This script downloaded from www.JavaScriptBank.com
     Come to view and download over 2000+ free javascript at www.JavaScriptBank.com
-->
<html>
<head>
<meta name="GENERATOR" content="Microsoft FrontPage 6.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<META content="text/html; charset=windows-1252" http-equiv=Content-Type>
<TITLE>JavaScriptBank.com -> JavaScript -> Game -> Lunar Lockout</title>

<script language="JavaScript">
var nm=0,pl=0,level=0; //Initialize Values for Some Game Variables
var curchar = "x", curx = 4; cury = 4;
var cht = " "
//this script finds the entire path to the current page - the index.html or whatever

	var pageloc = location.href
	
	for (t = pageloc.length-1;t>=0;t--){
		if (pageloc.charAt(t) == "/") {
			pageloc = pageloc.substring(0,t+1)
			t = -1
		}
	}

	pageloc = pageloc.toLowerCase();

//it will be used later in the program

var allchars = "abcdex", hascheated = 0

var chars = new Array();

chars['a']  = "4,0;2,0;3,0;0,0;3,0;0,0;2,0;"			//Co-Ordinates of The Orange Character
chars['a'] += "0,0;4,0;1,1;2,0;1,0;1,0;2,0;"
chars['a'] += "4,0;0,0;2,0;0,4;1,0;1,0;2,1;0,1;1,0;3,1;0,1;0,0;1,0;1,0;0,0;0,1;"
chars['a'] += "0,0;1,0;0,0;2,0;0,0;0,1;0,0;2,0;0,0;0,0;"
								//Each Level is divided by ; and each ordinate
								//is divided by , all co-ordinates are 0 based
								//and -1,-1 means not in this level

chars['b']  = "2,1;4,1;1,1;4,0;1,1;4,3;0,1;"			//Green Character
chars['b'] += "3,0;2,2;4,2;0,1;4,1;3,1;4,1;"
chars['b'] += "1,1;1,2;4,0;2,4;2,1;4,1;2,2;4,1;0,1;1,2;2,1;4,1;4,0;4,0;4,0;4,1;"
chars['b'] += "2,0;4,1;1,0;4,0;4,0;4,1;3,0;4,0;2,0;2,0;"


chars['c']  = "1,2;1,2;3,3;3,1;3,4;1,4;3,2;"			//Purple
chars['c'] += "1,1;1,3;0,4;4,1;1,4;0,3;0,2;"
chars['c'] += "4,2;4,2;1,2;4,4;3,2;0,2;4,2;3,3;3,1;3,4;3,1;0,2;0,2;4,2;0,4;0,2;"
chars['c'] += "4,1;0,4;4,1;0,2;2,1;0,3;4,0;0,2;4,0;4,0;"


chars['d']  = "3,3;3,3;1,4;2,3;-1,-1;-1,-1;3,4;"		//Yellow
chars['d'] += "0,4;3,4;2,4;2,2;-1,-1;2,4;3,3;"
chars['d'] += "2,3;1,4;3,3;-1,-1;0,3;1,4;0,3;0,4;4,3;4,4;4,4;3,3;3,2;0,3;4,4;1,4;"
chars['d'] += "0,2;2,4;0,3;3,3;0,4;4,3;0,3;1,2;0,2;4,3;"

chars['e']  = "-1,-1;-1,-1;-1,-1;-1,-1;-1,-1;-1,-1;-1,-1;"	//Lt. Blue
chars['e'] += "-1,-1;-1,-1;-1,-1;2,3;-1,-1;-1,-1;0,4;"
chars['e'] += "-1,-1;-1,-1;-1,-1;-1,-1;2,4;-1,-1;3,4;-1,-1;-1,-1;-1,-1;-1,-1;-1,-1;0,4;-1,-1;-1,-1;3,4;"
chars['e'] += "1,4;-1,-1;3,4;0,4;4,4;2,4;-1,-1;4,4;0,4;-1,-1;"

chars['x']  = "4,4;1,4;4,4;1,4;1,4;2,0;1,4;";			//Red
chars['x'] += "3,3;2,0;4,4;2,1;4,4;3,3;1,4;"
chars['x'] += "4,4;2,0;1,4;2,0;4,4;3,3;2,0;4,4;1,4;0,4;1,4;2,0;4,4;4,4;2,0;2,0;"
chars['x'] += "3,3;1,4;4,4;4,4;2,0;2,0;3,3;1,4;4,4;1,4;"


realgame = JSON.parse('[{{data | safe}}]')
console.log(realgame)

var numlvl = 39					//Number of Levels - 1

var g = new Array();				//Initialize the Graphics Array for the game

g['a'] = new Image(64,64);			//Specify Image Size(height,width) of Orange
g['a'].src = "{{url_for('static', filename='images/a.png')}}"				//Specify Image Source of Orange
g['b'] = new Image(64,64);			//Green Size
g['b'].src = "{{url_for('static', filename='images/b.png')}}"				//Green Height
g['c'] = new Image(64,64);			//Etc.
g['c'].src = "{{url_for('static', filename='images/c.png')}}"
g['d'] = new Image(64,64);
g['d'].src = "{{url_for('static', filename='images/d.png')}}"
g['e'] = new Image(64,64);
g['e'].src = "{{url_for('static', filename='images/e.png')}}"
g['x'] = new Image(64,64);
g['x'].src = "{{url_for('static', filename='images/x.png')}}"
g['n'] = new Image(64,64);
g['n'].src = "{{url_for('static', filename='images/n.png')}}"
g['g'] = new Image(64,64);
g['g'].src = "{{url_for('static', filename='images/g.png')}}"

function start(){
	pl = 1;
	
	rest()
	curchar = "x"
}

function goal(){

}

function solu() {
	alert("What You Think We Give You The Answers?!");
}

function cheat() {
	document.all['cht'].style.display = "";
}

function changelevel() {
	gol = document.all['chtlvl'].value
	if (isNaN(gol)) {
		alert("No Can Do Bob...");
	} else {
		tmpn = parseInt(gol);
		if (tmpn-1 > numlvl || tmpn < 1) {
			alert("There Are Only " + (numl + 1) + " Levels!")
		} else {
			level = tmpn - 1
			rest();
		}
	}
	hascheated = 1;
}

function rest(){

	nm = 0
	document.all['lvl'].innerHTML = "" + (level + 1)
	document.all['mvs'].innerHTML = " " + nm
		
	for (y=0;y<=4;y++) {
		for (x=0;x<=4;x++){
			im = document.all['game' + x + '_' + y]
			im.src = g['n'].src
			if (x == 2 && y == 2)
				im.src = g['g'].src

			for (t=0;t<allchars.length;t++){
				if (realgame[level][allchars.charAt(t)] == "" + x + "," + y) {
					im.src = g[allchars.charAt(t)].src
					if (allchars.charAt(t) == "x") {
						curx = x
						cury = y
					}
				}
			}
		}
	}
	curchar = "x"

}

function clickBlock(x,y){
	im = document.all['game' + x + '_' + y]
	if (im.src != g['n'].src && im.src != g['g'].src) {
		for (t=0;t<allchars.length;t++) {
			if (im.src == g[allchars.charAt(t)].src) {
				curchar = allchars.charAt(t);
				curx = x;
				cury = y;
			}
		}
	}
	self.focus()	
}
//Line 100
function keyUp() {
	k = String.fromCharCode(event.keyCode).toLowerCase();

	if (pl != 1)
		return true;

	var cx=0,cy=0;
	if (k=="s") {
		cy = 1
		cht = " "
	} else if (k=="a") {
		cx = -1
		cht = " "
	} else if (k=="d") {
		cx = 1
		cht = " "
	} else if (k=="w") {
		cy = -1
		cht = " "
	} else if (k == "r") {
		rest()
		return true
	} else {
		cht = cht + k
		if (cht.length > 5) {
			tmp = cht.charAt(cht.length-1) + cht.charAt(cht.length-2) + cht.charAt(cht.length-3) + cht.charAt(cht.length-4) + cht.charAt(cht.length-5)
			if (tmp == "level")
				cheat();
		}
		return true
	}

	self.focus()
	pMove(cx,cy)

	if (curchar == "x" && curx == 2 && cury == 2)
		goal();
}


function pMove(cx,cy) {
	nm++;
	document.all['mvs'].innerHTML = " " + nm;

	if (cy == -1) {
		if (cury > 1) {

			imfrom = document.all['game' + curx + '_' + cury];
			for (var ny = cury-1;ny >= 0;--ny) {
				
				im = document.all['game' + curx + '_' + ny]
				if (im.src != g['n'].src && im.src != g['g'].src) {
					imto = document.all['game' + curx + '_' + (ny+1)]
					imfrom.src = g['n'].src
					if (imfrom.id == "game2_2")
						imfrom.src = g['g'].src
					cury = ny + 1
					imto.src = g[curchar].src
					return true;
				}
			}
		}
	}

	if (cy == 1) {
		if (cury < 3) {
			imfrom = document.all['game' + curx + '_' + cury];
			for (var ny = cury+1;ny <= 4;++ny) {
				
				im = document.all['game' + curx + '_' + ny]
				if (im.src != g['n'].src && im.src != g['g'].src) {
					imto = document.all['game' + curx + '_' + (ny-1)]
					
					imfrom.src = g['n'].src
					if (imfrom.id == "game2_2")
						imfrom.src = g['g'].src
					cury = ny - 1
					imto.src = g[curchar].src
					return true;
				}
			}
		}
	}

	if (cx == -1) {
		if (curx > 1) {
			imfrom = document.all['game' + curx + '_' + cury];
			for (var nx = curx-1;nx >= 0;--nx) {
				
				im = document.all['game' + nx + '_' + cury]
				if (im.src != g['n'].src && im.src != g['g'].src) {
					imto = document.all['game' + (nx+1) + '_' + cury]
					
					imfrom.src = g['n'].src
					if (imfrom.id == "game2_2")
						imfrom.src = g['g'].src
					curx = nx + 1
					imto.src = g[curchar].src
					return true;
				}
			}
		}
	}

	if (cx == 1) {
		if (curx < 3) {
			imfrom = document.all['game' + curx + '_' + cury];
			for (var nx = curx+1;nx <= 4;++nx) {
				
				im = document.all['game' + nx + '_' + cury]
				if (im.src != g['n'].src && im.src != g['g'].src) {
					imto = document.all['game' + (nx-1) + '_' + cury]
					
					imfrom.src = g['n'].src
					if (imfrom.id == "game2_2")
						imfrom.src = g['g'].src
					curx = nx - 1
					imto.src = g[curchar].src
					return true;
				}
			}
		}
	}
	
}

document.onkeyup=keyUp;

</script>

<style>
IMG.game {
	height:200;
	width:200;
	border:0;
}
</style>

</head>
<body bgcolor=black text=white background="{{url_for('static', filename='images/background.jpg')}}">
<table border=0>
<tr><td>
<form action="javascript:void(0);" onSubmit="changelevel();">
<table border=1 width=320 hidden><tr>
<td><center>Level:<span id=lvl>1</span></center></td>
<td><center>Moves:<span id=mvs>0</span></center></td>
</tr><tr>
<td><center><input type=button value="Restart Level" onClick="rest();" onFocus="this.blur()"></center></td>
<td><center><input type=button value="Show Solution" onClick="solu();" onFocus="this.blur()"></center></td>
</tr></table>

</tr><tr><td>

<script language="Javascript">
<!-- Begin Script Cloaker
var w,y,x;

document.write("<table border=0 cellpadding=0 cellspacing=0>\n");

for (y=0;y<=4;y++) {
	document.write("<tr>\n");
	for (x=0;x<=4;x++){
		document.write("<td><a href='javascript:void(0);' onClick='clickBlock(" + x + "," + y + ");'><img src='{{url_for('static', filename='images/n.png')}}' id='game" + x + "_" + y + "' class='game'></a></td>\n");
	}
	document.write("</tr>\n"); //line 200
}
document.write("<img src='{{url_for('static', filename='images/n.png')}}' class='game' style='visibility:hidden;position:absolute;top:-64;left:-64;' id='game-1_-1'>");
start();
//End Of Cloaker -->
</script>

</td></tr>
</table>
<span id=cht style="display:none;position:absolute;top:20;left:340;width:200">
	Skip To Level: <input type="text" value="5" id="chtlvl" size=2>&nbsp;&nbsp;<input type="button" value="Skip" onClick="changelevel()"><br>
	<input type="button" value="Next Level" onClick="goal();" style="width:200;">
</span>
</form>
</body></html>